.container.container_w1591
    .about__wrapper
        .about__img
            img(src="@img/about/about_dog.jpg", alt="dog")
        .about__info
            .about__info-box 
            h3.subtitle About us
            h2.title.title_m20 Treating pet like Royalty
            span “They’re not just pets, they’re family”
            p.about__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam mi id augue ultrices, in tempus elit tristique. Aliquam ultrices sem non.
            button.button.button_fill Explore
    .about__items
        .about__item
            .about__item-img
                img(src="@img/about/about_items/1_item_medal.svg", alt="medal")
            h2.title.title_item Pet food
        .about__item
            .about__item-img
                img(src="@img/about/about_items/2_item_syringe.svg", alt="syringe")
            h2.title.title_item Pet care
        .about__item
            .about__item-img
                img(src="@img/about/about_items/3_item_dog-house.svg", alt="dog house")
            h2.title.title_item pet accessories