.container
    .accomplishments__items
        .accomplishments__item
            img(src="@img//accomplishments/1_item.jpg", alt="dog")
            .accomplishments__wrapper
                h2.title.title_fz32 Taking dogs care to the next level
                img(src="@img/accomplishments/right-arrow.svg", alt="arrow right")
        .accomplishments__item
            img(src="@img//accomplishments/2_item.jpg", alt="dog")
            .accomplishments__wrapper
                h2.title.title_fz32 We value the best health of your pets
                img(src="@img/accomplishments/right-arrow.svg", alt="arrow right")
        .accomplishments__item
            img(src="@img//accomplishments/3_item.jpg", alt="dog")
            .accomplishments__wrapper
                h2.title.title_fz32 Trust us with your pet’s vacation
                img(src="@img/accomplishments/right-arrow.svg", alt="arrow right")
        .accomplishments__item
            img(src="@img//accomplishments/4_item.jpg", alt="cat")
            .accomplishments__wrapper
                h2.title.title_fz32 We treat cats with utmost care
                img(src="@img/accomplishments/right-arrow.svg", alt="arrow right")