.container.container_w1591 
    .contact__wrapper 
        .contact__box
            .contact__img-down
                img(src="@img/contact/cat_in_hands.jpg", alt="cat")
            .contact__video
                button.button.button_play
                    img(src="@img/contact/play_fill.svg", alt="play")
            .contact__img-up
                img(src="@img/contact/cute_dog.jpg", alt="dog")
        .contact__info
            h3.subtitle.subtitle_ml35 Contact us
            h2.title.title_ml35 Come for the care, leave with a smile
            .contact__time
                img(src="@img/contact/clock_fill.svg", alt="clock")
                .contact__time-wrap
                    p Monday/Friday 9:00-23:00 <br> Saturday 10:00-21:00
            .contact__geo 
                img(src="@img/contact/geo_fill.svg", alt="geo")
                .contact__geo-wrap
                    a(href="tel:+0123456789").contact__phone +012-345-6789
                    p TheWildKingdom@contact.com <br> 9889 Lorem Ipsum street, Pellentesque, CA, USA
            button.button.button_fill.button_ml35 Contact
