.container
    .footer__wrapper
        .footer__navbar 
            h3.title.title_fz20 Sitemap
            ul.footer__menu
                li 
                    a(href="#") Home
                li
                    a(href="#") About
                li
                    a(href="#") Products
                li
                    a(href="#") Services
            ul.footer__social
                li 
                    a(href="#")
                        img(src="@img/footer/social/twitter.svg")
                li
                    a(href="#")
                        img(src="@img/footer/social/instagram.svg")
                li
                    a(href="#")
                        img(src="@img/footer/social/tiktok.svg")
                li
                    a(href="#")
                        img(src="@img/footer/social/medium.svg")
        .line.line_vertical
        a(href="/")
            img(src="@img/header/logo.svg", alt="logo")
        .line.line_vertical 
        form.footer__form
            h2.title.title_fz32 Treating all the pets present here like royalty.
            input(type="text", placeholder="Enter email address").footer__input
            button.footer__btn Subscribe
            .line.line_form
    .line.line_full
    p Copyright Dotcreativemarket