nav.navbar
    ul.navbar__menu
        li
            a(href="#") Home
        li
            a(href="#") About
        li
            a(href="#") Products
        li
            a(href="#") Services
    a(href="/") 
        img(src="@img/header/logo.svg" alt="logo")
    ul.navbar__menu
        li
            a(href="#") Log in
        li
            a(href="#") Register
        li
            a.button Contact
