.container
    .products__intro
        h3.subtitle Our Products
        h2.title.title_m20 For all your pet needs
        p.products__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam mi id augue ultrices, in tempus elit.
    .products__items
        .products__item
            img.products__item-img(src="@img/products/products_items/1_item.jpg", alt="")
            .products__info
                h2.title.title_item Luxury pet bed
                p.products__price $120
            .rating 
        .products__item
            img.products__item-img(src="@img/products/products_items/2_item.jpg", alt="")
            .products__info
                h2.title.title_item Cat Food
                p.products__price $20
            .rating 
        .products__item
            img.products__item-img(src="@img/products/products_items/3_item.jpg", alt="")
            .products__info
                h2.title.title_item Dog food
                p.products__price $30
            .rating 
        .products__item
            img.products__item-img(src="@img/products/products_items/4_item.jpg", alt="")
            .products__info
                h2.title.title_item Treat for dog
                p.products__price $60
            .rating  
        .products__item
            img.products__item-img(src="@img/products/products_items/5_item.jpg", alt="")
            .products__info
                h2.title.title_item Teddy bear for dog
                p.products__price $200
            .rating 
        .products__item
            img.products__item-img(src="@img/products/products_items/6_item.jpg", alt="")
            .products__info
                h2.title.title_item Teddy bear for dog
                p.products__price $80
            .rating
        .products__item
            img.products__item-img(src="@img/products/products_items/7_item.jpg", alt="")
            .products__info
                h2.title.title_item Treats Knot Bone
                p.products__price $8
            .rating 
        .products__item
            img.products__item-img(src="@img/products/products_items/8_item.jpg", alt="")
            .products__info
                h2.title.title_item dog bowls
                p.products__price $70
            .rating 
    button.button.button_fill Explore