.container
    .quotes__img 
        img(src="@img/quotes/pug.svg", alt="pug")
    .quotes__wrapper
        img(src="@img/quotes/paragraph_home.svg", alt="paragraph")
        span Lorem ipsum dolor sit amet Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem labore consectetur rem maiores laudantium qui explicabo accusantium cum vero aspernatur quibusdam officia iste repellendus enim pariatur sed, impedit cumque incidunt.
        img(src="@img/quotes/paragraph_end.svg", alt="paragraph")