.container.container_w1591
    .services__wrapper
        .services__img 
            img(src="@img/services/cute_cat.jpg", alt="")
        .services__info
            h3.subtitle.subtitle_white our services
            h2.title.title_m20 Quality Things for Loving Pets
            span “More than a Pet Store…”
            .services__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam mi id augue ultrices, in tempus elit tristique. Aliquam ultrices sem non.
            button.button Explore
