.footer {
    display: flex;
    padding: 92px 0 35px;
    background: $main_text_color;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }
    &__menu,
    &__social {
        display: flex;
        gap: 50px;
        margin: 15px 0 0;
        padding: 0;
        list-style-type: none;
        font-weight: 300;
        a {
            color: $main_color;
            text-decoration: none;
        }
    }
    &__form {
        width: 367px;
    }
    &__input {
        margin: 26px 50px 5px 0;
        background-color: inherit;
        color: $main_color;
        font-weight: 400;
        line-height: 30px;
        border: none;
        &::placeholder {
            color: $main_color;
            font-weight: 400;
            line-height: 30px;
        }
        &:focus {
            outline: none;
        }
    }
    &__btn {
        border: none;
        background-color: inherit;
        color: $main_color;
        font-weight: 400;
        line-height: 30px;
    }
    p {
        margin: 42px 0 0;
        color: $main_color;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
    }
}