.products {
    background-color: $bg_color;
    padding: 165px 0 170px;
    text-align: center;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        width: 458px;
        margin: 20px auto 40px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        margin-bottom: 50px;
        gap: 54px 63px;
    }
    &__item-img {
        margin-bottom: 40px;
    }
    &__price {
        color: $main_text_color;
        font-size: 24px;
    }
}