.title {
    color: #9D875C;
    font-family: Italiana;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    &_main {
        margin: 318px 0 35px;
        width: 643px;
        font-size: 100px;
        line-height: 100px;
    }
    &_fz20 {
        font-size: 20px;
    }
    &_fz32 {
        font-size: 32px;
    }
    &_item {
        color: $main_text_color;
        text-align: center;
        font-size: 24px;
    }
    &_m20 {
        margin: 20px 0;
    }
    &_ml35 {
        margin-left: 35px;
    }
    &_tac {
        text-align: center;
    }
}