doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="Nazar 'xsolutionxxx' Talaievych")
		title The Wild Kingdom
		link(rel="stylesheet", href="files/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/style.min.css")
	body
		header.header
			include html/promo.pug
		main.main
			section.about
				include html/about.pug
			section.products
				include html/products.pug
			section.services 
				include html/services.pug
			section.accomplishments
				include html/accomplishments.pug
			section.contact
				include html/contact.pug
			section.quotes
				include html/quotes.pug
		footer.footer
			include html/footer.pug