@import 'fonts';
@import 'base/variables';

body {
    font-family: Montserrat, sans-serif;
    color: #222220;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.container {
    width: 1572px;
    margin: 0 auto;
    &_w1591 {
        width: 1591px;
    }
}

@import 'blocks/navbar';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/about';
@import 'blocks/subtitle';
@import 'blocks/products';
@import 'blocks/services';
@import 'blocks/accomplishments';
@import 'blocks/contact';
@import 'blocks/quotes';
@import 'blocks/footer';
@import 'blocks/lines';